

.popup.popup_top {
    bottom: 100%;
    left:   0;

}

.popup.popup_bottom {
    top:  100%;
    left: 0;

}

.popup.popup_left {
    top:   0;
    right: 100%;

}

.popup.popup_right {
    top:  0;
    left: 100;

}
